<div class="alert alert-info">
    Use these settings to configure email sending in your application or email client.
</div>
<div class="hstack">
    <div class="mx-4">
        <dl class="hstack">
            <dt class="pr-2">Host: </dt>
            <dd class="m-0">smtp.solidmail.email</dd>
        </dl>
        <dl class="hstack">
            <dt class="pr-2">Username: </dt>
            <dd class="m-0">{{ inbox.username }}</dd>
        </dl>
        <dl class="hstack">
            <dt class="pr-2">Password: </dt>
            <dd class="m-0">{{ inbox.password }}</dd>
        </dl>
    </div>
    <div>
        <dl class="hstack">
            <dt class="pr-2">Port: </dt>
            <dd class="m-0">25 or 465 or 587</dd>
        </dl>
        <dl class="hstack">
            <dt class="pr-2">Auth: </dt>
            <dd class="m-0">LOGIN</dd>
        </dl>
        <dl class="hstack">
            <dt class="pr-2">TLS: </dt>
            <dd class="m-0">Optional (STARTTLS on all ports)</dd>
        </dl>
    </div>
</div>

<div class="alert alert-light">
    DSN Example:<br />
    <code>
        smtp://{{ inbox.username }}:{{ inbox.password }}@smtp.solidmail.email:587
    </code>
</div>
